<div class="header"><h1 class="slidetitle">Welcome to Ubuntu MATE</h1></div>

<div class="main wide">

<div class="text">

<div>
<p>Ubuntu MATE is a Linux operating system based on Ubuntu and the MATE Desktop environment.</p>
</div>

</div>

<img class="background" src="screenshots/01_welcome.png" />

</div>
