<div class="header"><h1 class="slidetitle">About</h1></div>

<div class="main">

<div class="text">

<div>
<p>Ubuntu MATE is a stable, easy-to-use operating system with a configurable desktop environment. Ideal for those who want the most out of their desktops, laptops and netbooks and prefer a traditional desktop metaphor. With modest hardware requirements it is suitable for modern workstations and older hardware alike.</p>
</div>

</div>

<img class="screenshot" src="screenshots/02_about.png" />

</div>
