<div class="header"><h1 class="slidetitle">Find even more software</h1></div>

<div class="main">

	<div class="text">
		<div>
			<p>Say goodbye to searching the web for new software. With Ubuntu Software Center, you can find and install new apps with ease. Just type in what you're looking for, or explore categories such as Science, Education and Games, alongside helpful reviews from other users.</p>
		</div>

	<div class="featured">
	        <h2 class="subtitle">Included software</h2>
        	<ul>
        		<li>
                		<img class="icon" src="icons/softwarecenter.png"/>
	        		<p class="caption">Ubuntu Software Center</p>
	        	</li>
	        </ul>
		<h2 class="subtitle">Supported software</h2>
		<ul>
			<li>
				<img class="icon" src="icons/system-software-install.png"/>
	        		<p class="caption">Synaptic Package Manager</p>
	        	</li>
			<li>
				<img class="icon" src="icons/gdebi.png"/>
	        		<p class="caption">GDebi Package Installer</p>
	        	</li>
		</ul>
	</div>

</div>

<img class="screenshot" src="screenshots/03_usc.png" />

</div>
