<div class="header">
    <h1 class="slidetitle">Take your music with you</h1>
</div>
<div class="main">
    <div class="text">
        <div>
            <p>Ubuntu MATE comes with the amazing Rhythmbox music player. With advanced playback options, it's simple to queue up the perfect songs. And it works great with CDs and portable music players, so you can enjoy all your music wherever you go.</p>
        </div>

    <div class="featured">
        <h2 class="subtitle">Included software</h2>
        <ul>
            <li>
                <img class="icon" src="icons/rhythmbox.png"/>
                <p class="caption">Rhythmbox Music Player</p>
            </li>
        </ul>
    </div>
</div>

<img class="screenshot" src="screenshots/04_music.png"/>
