<div class="header"><h1 class="slidetitle">Access for everyone</h1></div>

<div class="main">

<div class="text">

<div>
<p>At the heart of the Ubuntu MATE philosophy is the belief that computing is for everyone. With advanced accessibility tools and options to change language, colour scheme and text size, Ubuntu MATE makes computing easy - whoever and wherever you are.</p>
</div>

<div class="featured">
<h2 class="subtitle">Customization options</h2>
<ul>
	<li>
	<img class="icon" src="icons/preferences-desktop-theme.png" />
	<p class="caption">Appearance</p>
	</li>
	<li>
	<img class="icon" src="icons/access.png" />
	<p class="caption">Assistive technologies</p>
	</li>
	<li>
	<img class="icon" src="icons/languages.png" />
	<p class="caption">Language support</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/08_customize.png" />

</div>
