<div class="header"><h1 class="slidetitle">Community</h1></div>

<div class="main">

<div class="text">

<div>
<p>We have a number of ways you can connect with the Ubuntu MATE community.</p>
</div>

<div class="featured">
<h2 class="subtitle">Discussion</h2>
<ul>
	<li>
		<img class="icon2" src="link/bullet-point.png" />
		<a href="https://plus.google.com/communities/108331279007926658904" class="caption">Google+ Community</a>
	</li>
	<li>
		<img class="icon2" src="link/bullet-point.png" />
		<a href="https://ubuntu-mate.org/irc/" class="caption">IRC channel</a>
	</li>
</ul>
<h2 class="subtitle">Announcements</h2>
<ul>
	<li>
		<img class="icon2" src="link/bullet-point.png" />
		<a href="http://ubuntu-mate.net/rss.xml" class="caption">RSS Feed</a>
	</li>
	<li>
		<img class="icon2" src="link/bullet-point.png" />
		<a href="https://twitter.com/ubuntu_mate" class="caption">Twitter Feed</a>
	</li>
</ul>
<h2 class="subtitle">Development</h2>
<ul>
	<li>
		<img class="icon2" src="link/bullet-point.png" />
		<a href="https://launchpad.net/ubuntu-mate" class="caption">Ubuntu MATE Project</a>
	</li>
	<li>
		<img class="icon2" src="link/bullet-point.png" />
		<a href="https://bugs.launchpad.net/ubuntu-mate" class="caption">Bug Tracker</a>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/02_about.png" />

</div>
